In [26]:
import pandas as pd

In [27]:
dataset = pd.read_csv("bank_data.csv")

In [28]:
dataset.head()

,Date,Symbol,Company Name,Open,High,Low,Close,Change,Volume
0,2024-01-13,Symbol,Company Name,Open,High,Low,Close,Change,Volume
1,2024-01-13,ABL,Allied Bank Limited,83.60,84.20,83.50,83.90,-0.10,"17,000"
2,2024-01-13,AKBL,Askari Bank Limited,24.34,24.34,23.55,23.79,0.18,"1,546,500"
3,2024-01-13,BAFL,Bank Al-Falah Limited,48.99,49.30,48.51,48.99,0.40,"1,991,420"
4,2024-01-13,BAHL,Bank Al-Habib Limited,82.06,82.85,81.73,82.34,0.88,"457,942"

In [29]:
dataset['Symbol'].unique()

array(['Symbol', 'ABL', 'AKBL', 'BAFL', 'BAHL', 'BOK', 'BOP', 'BIPL',
       'FABL', 'HBL', 'HMB', 'JSBL', 'MCB', 'MEBL', 'NBP', 'SBL', 'SILK',
       'SNBL', 'SCBPL', 'UBL', 'SMBL'], dtype=object)

In [30]:
dataset = dataset[dataset['Symbol'] != 'Symbol']

In [31]:
dataset['Symbol'].unique()

array(['ABL', 'AKBL', 'BAFL', 'BAHL', 'BOK', 'BOP', 'BIPL', 'FABL', 'HBL',
       'HMB', 'JSBL', 'MCB', 'MEBL', 'NBP', 'SBL', 'SILK', 'SNBL',
       'SCBPL', 'UBL', 'SMBL'], dtype=object)

In [32]:
# overwrite the csv
dataset.to_csv("bank_data.csv", index=False)